*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-size: 1rem;
  line-height: 1.66;
  color: #212121;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway';
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
blockquote {
  margin-top: 0;
  margin-bottom: 24px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
